@page
@model Admin.Endpoint.Pages.CatalogItems.IndexModel
@{
}
@section CustomCss
    {
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/css/forms/theme-checkbox-radio.css">
    <link href="~/Theme/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL CUSTOM STYLES -->
}
    <div id="tableDropdown" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>محصولات</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered mb-4">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th> تاریخ </th>
                                <th class="text-center">وضیعت</th>
                                <th class="text-center">عمل</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var catalogItem in Model.Result.PaginateItemDto.Data)
                        {
                            <tr>
                                <td>@catalogItem.Name</td>
                                <td>@catalogItem.UpdateDate</td>
                                <td class="text-center">
                                    @{
                                        string message = catalogItem.Removed ? "حذف شده" : "ثبت شده";
                                        string classBadage = catalogItem.Removed ? "badge-danger" : "badge-success";
                                        <span class="badge @classBadage">@message</span>
                                    }

                                </td>
                                <td class="text-center">

                                    <div class="dropdown custom-dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                            <a class="dropdown-item" href="javascript:void(0);">ویرایش</a>
                                            @{
                                                if (catalogItem.Removed)
                                                {
                                                    <a class="dropdown-item" asp-page-handler="UnDelete" asp-route-id="@catalogItem.Id">بازگردانی</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" asp-page-handler="Delete" asp-route-id="@catalogItem.Id">حذف</a>
                                                }
                                            }
                                            
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@section Scripts
    {
    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="~/Theme/assets/js/scrollspyNav.js"></script>
    <script>

        checkall('todoAll', 'todochkbox');
        $('[data-toggle="tooltip"]').tooltip()
    </script>
    <!-- END PAGE LEVEL CUSTOM SCRIPTS -->
}
